@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .my-gradient {
    @apply bg-gradient-to-b from-fuchsia-300 to-fuchsia-950 via-fuchsia-600;
  }
}

label {
  color: #000; /* Set the text color */
  font-size: 14px; /* Set the font size */
  /* Add any other necessary styles */
}

input {
  color: #000;
  font-size: 14px;
}

p {
  color: #000;
}
